.main_container {
  margin: 5% 20% 20% 20%;
}

.page_container {
  margin: 0% 20% 20% 20%;
}

.g-button-containter {
  margin-top: 5%;
}

.logo {
  margin-left: 10px;
}

.log {
  margin-right: 10px;
}

.categories {
  margin-top: 10px;
}

.items {
  margin-top: 10px;
}
