{% extends "base.html" %}

{% block content %}
    <h2> Add Item </h2>
    <div>
        {% from "_formhelpers.html" import render_field %}
        <form method=post>
            <dl>
                {{ render_field(form.name) }}
                {{ render_field(form.description) }}
                <td>Category</td><br/>
                <td>
                    <select id="category" name="category">
                        {% for cat in categories %}
                            {% if cat.name == current_cat %}
                                <option selected value="{{cat.name}}">{{cat.name}}</option>  
                            {% else %} 
                                <option value="{{cat.name}}">{{cat.name}}</option>  
                            {% endif %}             
                        {% endfor %}
                    </select>
                </td>
            </dl>
            {% if new_item %}
                <input type=submit value=Add>
            {% else %}
                <input type=submit value=Edit>
            {% endif %}
        </form>
    </div>
{% endblock %}