{% extends "base.html" %}

{% block content %}
    <div>
        {%if login %}
            <a href="/cats">Add Catalog</a>
        {% endif %}
        <h2>Categories</h2>

        <div class="categories">
            <table>
                {% for cat in categories %}
                    <tr>
                        <td><a href="{{url_for('cat_items', cat_name=cat.name)}}">{{cat.name}}<a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    
    <div>
        {%if login %}
            <a href="/items">Add Item</a>
        {% endif %}
        <h2>{{cat_name}} Items {{item_count}}</h2>

        <div>
            <table>
                {% for item in items %}
                    <tr>
                        <td><a href="{{url_for('show_item', cat_name=item.get_cat_name(), item_name=item.name)}}">{{item.name}}</a> ({{item.get_cat_name()}})</td>
                    <tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}