{% extends "base.html" %}

{% block content %}
    <div class="col-md-4">
        <h3>Categories</h3>
        {%if login %}
            <a href="/cats">Add Catalog</a>
        {% endif %}

        <div class="categories">
            <table>
                {% for cat in categories %}
                    <tr>
                        <td><a href="{{url_for('cat_items', cat_name=cat.name)}}">{{cat.name}}<a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="col-md-8">
        <h3>{{cat_name}} Items {{item_count}}</h3>
        {%if login %}
            <a href="/items">Add Item</a>
        {% endif %}

        <div class="items">
            <table>
                {% for item in items %}
                    <tr>
                        <td><a href="{{url_for('show_item', cat_name=item.get_cat_name(), item_name=item.name)}}">{{item.name}}</a> ({{item.get_cat_name()}})</td>
                    <tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
